<div class="container mt-4">

  <h2 class="mb-4">Inventory</h2>

    <div class="col-md-2 d-flex align-items-end">
      <button
        class="btn btn-success w-100"
        (click)="toStatsPage()">
        Stats
      </button>
    </div>

  <div class="row g-3 mb-4">

    <div class="col-md-3">
      <label class="form-label">Sort By</label>

      <select
        class="form-select"
        [(ngModel)]="sortBy"
        (change)="loadItems()">

        <option value="name">Name</option>
        <option value="price">Price</option>
        <option value="location">Location</option>

      </select>
    </div>


    <div class="col-md-3">
      <label class="form-label">Order</label>

      <select
        class="form-select"
        [(ngModel)]="order"
        (change)="loadItems()">

        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>

      </select>
    </div>


    <div class="col-md-4">
      <label class="form-label">Filter by Location</label>

      <select
        class="form-select"
        [(ngModel)]="locationId"
        name="locationId"
        (change)="loadItems()">

        <option [ngValue]="undefined">
          All Locations
        </option>

        @for (location of locations; track location.id) {
          <option [ngValue]="location.id">
            {{ location.name }}
          </option>
        }

      </select>
    </div>


    <div class="col-md-2 d-flex align-items-end">
      <button
        class="btn btn-success w-100"
        (click)="toAddPage()">
        Add Item
      </button>
    </div>

  </div>


  <table class="table table-bordered table-hover">

    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Price (GEL)</th>
        <th>Operations</th>
      </tr>
    </thead>

    <tbody>

      @for(item of items; track item.id) {

        <tr>

          <td>{{ item.name }}</td>

          <td>{{ item.location?.name }}</td>

          <td>{{ item.price }}</td>

          <td>

            <button
              class="btn btn-danger btn-sm"
              (click)="deleteItem(item.id)">
              Delete
            </button>

          </td>

        </tr>

      }

    </tbody>

  </table>


  <div class="d-flex justify-content-center mt-4">

    @for(page of pages; track page) {

      <button
        class="btn btn-outline-primary mx-1"
        (click)="loadItems(page)">

        {{ page }}

      </button>

    }

  </div>

</div>